
@font-face {
    font-family: 'Inter-ExtraBold';
    src: url(Fonts/Inter-ExtraBold.ttf);
}
@font-face {
    font-family: 'Inconsolata';
    src: url(Fonts/Inconsolata.ttf);
}
@font-face {
    font-family: 'Inter';
    src: url(Fonts/Inter.ttf);
}

.box{
    border: #191E29;
    margin-bottom: 0vh;
    margin-top: 3.8vh;
    margin-left: 2vh;
    overflow: auto;
}

.fecha{
    font-family: 'Inconsolata-ExtraBold';
    color: #05AE81;
    background-color: #191E29;
    width: 30vh;
    height: 4vh;
    font-size: 2vh;
    border-radius: 1vh;
    margin-bottom: 2vh;
    text-align: center;
    padding-top: 0.7vh;
}

.datos_balance{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    place-content: end;
    max-width:198vh;
}

@media screen and (max-width:821px){
    .datos_balance{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        place-content: center;
        max-width:198vh;
    }
}

.caja_datos{
    display: flex;
    color: #FFF;
    background-color: #191E29;
    width: 20vh;
    height: 10vh;
    border-radius: 1.3vh;
    font-family: Inconsolata;
    align-items: center;
    justify-content: center;
    font-size: 3.05vh;
    margin: 2.5vh;
    font-weight: 800;
}

table{
    background: #191E29;
    color: #FFF;
    table-layout: fixed;
    border-radius: 1.5vh;
    width: 194vh;
    height: 12vh;
    box-shadow: 0vh 1vh 1vh 0vh rgba(0, 0, 0, 0.25);
}


th{
    text-align: left;
    vertical-align: middle;
}

td{
    border-top: solid 0.35vh #30353e;
    text-align: left;
    vertical-align: middle;
}

.texto_cabeza{
    color: #05AE81;
    font-family: 'Inconsolata';
    font-size: 2.2vh;
    font-style: normal;
    font-weight: 600;
    padding-left: 2vh;
}

.texto_cuerpo{
    color: #FFF;
    font-family: 'Inconsolata';
    font-size: 2.2vh;
    font-style: normal;
    font-weight: 600;
    padding-left: 2vh;
}


