.texto_titulo{
    margin-left: 2.77%;
    margin-top: 2%;
    color: #FFF;
    font-family: 'Inter';
    font-size: 2.77vh;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 20px */
}

.cartgamebox{
    color: #FFFFFF;
    background-color: #191E29;
    width: 140vh;
    height: 14.5vh;
    margin: 0 2vh 2vh 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 1.6vh;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    box-shadow: 0 0 1vh #000;
}

.cartgamebox img{
    width: 25vh;
    height: 100%;
    border-radius: 1.6vh 0 0 1.6vh;
    object-fit: cover;
    flex-shrink: 0;
    place-self: flex-start;
}

.titulo_cartgame{
    color: #FFF;
    font-family: 'Inconsolata';
    font-size: 2.22vh;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 20px */
    margin-left: 6vh;
    margin-top: 0.75vh;
}

.descripcion_cartgame{
    color: #FFF;
    font-family: 'Inconsolata';
    font-size: 1.80vh;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 20px */
    margin-left: 6vh;
    margin-top: 2vh;
}

.glowbox{
    width: 8.9vh;
    height: 5vh;
    position: absolute;
    right: 17vh;
    align-self: center;
    background-color: #BFE8DD; 
    box-shadow: 0 0 7px 2px #1adca8;
    display: flex;
}

.cant_glowbox{
    color: #000;
    font-family: 'Inconsolata';
    font-size: 2.77vh;
    margin-left: 1vh;
    align-self: center;
}

.precio_cartgame{
    color: #FFF;
    font-family: 'Inconsolata';
    font-size: 3.5vh;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 20px */
    position: absolute;
    right: 6vh;
    align-self: center;
}

.juegos_carrito{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
    margin-left: 5vh;
    margin-right: 0vh;
    margin-bottom: 1vh;
    padding-top: 1vh;
}

.nombredescrip_juegocart{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
    align-self: center
}

.borrar_juegocart{
    color: #FFF;
    font-family: 'Inconsolata';
    font-size: 2.25vh;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 20px */
    margin-left: auto;
    margin-right: 1.5vh;
    margin-top: 1.5vh;
}

.carrito_cajero{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #191E29;
    width: min(94% ,48.5vh);
    height: 31vh;
    border-radius: 1.6vh;
    box-shadow: 0 0 1vh #000;
    margin: 1vh auto;
}

.bodycarrito{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}

.caja_total{
    background-color:#03B384;
    border-radius: 1.6vh 1.6vh 0 0;
    height: 6vh;
    display: flex;
}
.caja_comprar{
    background-color:#03B384;
    border-radius: 0 0 1.6vh 1.6vh;
    height: 6vh;
    display: flex;
}

.container_noelementos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    width: 140vh;
    margin-right: 2vh;
}