@font-face {
    font-family: 'Inconsolata';
    src: url(Fonts/Inconsolata.ttf);
}

@font-face {
    font-family: 'Inter';
    src: url(Fonts/Inter.ttf);
}

html{
    height: 100%;
}
body{
    margin: 0;
}
.fondo{
    background: linear-gradient(180deg, #071924 9.90%, #00DCA1 100%);
}



/* .headbar{
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-gap: 24px;
    height: 8.33vh;
    place-items: center left;
    place-content: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #FFFFFF;
    font-size: 30px;
    background: linear-gradient(180deg, #071924 88.54%, #012723 100%);
    overflow: hidden;
} */

.headbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.91vw 0 2.91vw;
    height: 8.33vh;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #FFFFFF;
    font-size: 2.34vh;
    background: linear-gradient(180deg, #071924 88.54%, #012723 100%);
    overflow: hidden;
}

.navbar{
    display: flex;
    flex-direction: row;
    column-gap: 3vw;
    justify-content: center;
    align-items: center;
    height: 4.12vh;
    background: #203441;
}

.presentation_bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 33.33vh;
    margin-bottom: 4vh;
    background: #00041F;
}

.texto_headbar{
    color: #FFF;
    text-shadow: #03B384 1px 0 15px;
    font-family: 'Inconsolata';
    font-size: 2.77vh;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 20px */
}

.texto_presentacion{
    color: #FFF;
    font-family: 'Inter';
    font-size: 8.33vh;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; /* 60px */
    letter-spacing: 1.03vw;
    opacity: 0.5;
}

.user_photo_cart{
    display:flex;
    flex-direction: row;
    column-gap: 1vw;
    align-items: center;
    justify-content: center;
}

.info_user{
    display: flex;
    flex-direction: column;
    font-size: 1.66vh;
    row-gap: 0.5vh;
    align-items: center;
    justify-content: center;
}

.profile_photo{
    height: 3.25vw;
    width: 3.25.vw;
    flex-shrink: 0;
    border-radius: 1.625vw;
    border: 1px solid #01C38D;
    box-shadow: #03B384 1px 0 15px;
}

.shopping_cart_icon{
    height: 1.95vw;
    width: 1.95vw;
    flex-shrink: 0;
    /*background: url(Images/carrito.png), lightgray 50% / cover no-repeat;*/
    filter:drop-shadow(1px 0 5px #03B384);
}

.texto_verde{
    color: #05AE81;
}

.fuente_inter{
    font-family: 'Inter';
}

.texto_normal{
    color: #FFF;
    font-family: 'Inter';
    font-size: 2.77vh;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 20px */
}

.center{
    text-align: center;
}

.gamebox{
  background-color: #191E29;
  max-width: 41.48vh;
  height: 23.3vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  border-radius: 2.08vh;
  
}

.gamebox img{
    width: 100%;
    height: 100%;
    max-height: 18.47vh;
    border-radius: 2.08vh 2.08vh 0 0;
    object-fit: cover;
    flex-shrink: 0;
    place-self: top;
    
    vertical-align: top;
}

